<header class="p-3 mb-3 border-bottom bg-secondary">
   <div class="container">
     <div class="d-flex flex-wrap align-items-center justify-content-r justify-content-lg-start">
       <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
         <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
       </a>
       <img src="../../../assets/Img/Logo.png" alt="Furaia Logo" style="width: 80px; margin-left: -10px;"> <!-- added inline CSS here -->
       <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 mx-auto" role="search">
         <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
       </form>
 
       <div class="dropdown text-end ms-auto">
         <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
           <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
         </a>
         <ul class="dropdown-menu text-small">
           
           <li><a class="dropdown-item" href="#">Settings</a></li>
           <li><a class="dropdown-item" href="#">User Profile</a></li>
           <li><hr class="dropdown-divider"></li>
           <li><a class="dropdown-item" href="#">Sign out</a></li>
         </ul>
       </div>
     </div>
   </div>
 </header>
