.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

/* Table data CSS */
.table-card {
  display: flex;
  flex-direction: column;
}


app-sales-table {
  flex: 1;
}

mat-card {
  display: flex;
  flex-direction: column;
}

/* Bar Graph css */
app-bar-chart{
  flex: 1;
}

/* Line chart Css */
app-line-chart{
  flex: 1;
}
