.grid-container {
  margin: 20px;
  /* padding-top: 106%; */
}


.dashboard-card {

  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

/* Table data CSS */
.table-card {
  display: flex;
  flex-direction: column;

}


app-sales-table {
  flex: 1;

}

mat-card {
  display: flex;
  flex-direction: column;
}


.Raderchart {
  flex-basis: 100%;
  margin-right: 0;


}

.DoughnutChart {
  flex-basis: 100%;
  margin-left: 0;

}

.chart1,
.chart2 {
  flex-basis: 100%;

}

.chart1 {
  margin-right: 0;
}

.chart2 {
  margin-left: 0;
}


/* Cards Styling */
.online-users-card,
.Revenue-card,
.customer-card,
.Average-sales-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.online-users-card:hover,
.Revenue-card:hover,
.customer-card:hover,
.Average-sales-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.dashboard-card mat-card-header mat-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align span to the right side */
}

.dashboard-card mat-card-header mat-card-title span {
  color: #2c2c2c; /* Dark grey color */
}

.dashboard-card mat-card-header mat-card-title mat-icon {
  color: #a0c8e0; /* Faint blue color */
}

.online-users-card .online-users-count,
.Revenue-card .total-revenue-count,
.customer-card .total-revenue-count,
.Average-sales-card .average-sales {
  font-size: 24px;
  font-weight: bold;
}

.online-users-card .online-users-label,
.Revenue-card .total-revenue-label {
  font-size: 14px;
  color: #2c2c2c;
}

.grid-container {
  /* overflow-y: scroll; */
  max-height: 90vh;
}

.scrollable-grid {
  overflow: auto;
}
