<!--card.component.html-->
<div class="mat-elevation-z8">
  <mat-card class="dashboard-card online-users-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>people</mat-icon>
        <span>Users</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br />
      <p class="online-users-count">15</p>
      <br />
      <p class="online-users-label">Currently Online</p>
    </mat-card-content>
  </mat-card>
</div>

<!-- <div class="card mat-elevation-z8">
  <mat-card class="dashboard-card online-users-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>attach_money</mat-icon>
        <span>Revenue</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br />
      <p class="total-revenue-count">Ksh 10000</p>
      <br />
      <p class="total-revenue-label">Total Revenue</p>
    </mat-card-content>
  </mat-card>
</div> -->

<!-- <div class="card mat-elevation-z8">
  <mat-card class="dashboard-card online-users-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>date_range</mat-icon>
        <span>Weekly Sales</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br />
      <p class="total-revenue-count">Ksh 50000</p>
    </mat-card-content>
  </mat-card>
</div> -->

<!-- <div class="card mat-elevation-z8">
  <mat-card class="dashboard-card online-users-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>monetization_on</mat-icon>
        <span>Average Sales</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br />
      <p class="average-sales">Ksh 50000</p>
    </mat-card-content>
  </mat-card>
</div> -->
